@import url(fonts.css);

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline:  2px red;
  box-sizing: border-box;
  border: none;
}

.container {
  max-width: 1326px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 40px 0;
  align-items: center;
  border-bottom: 2px solid #323232;
  border-radius: 0.5px;
}

.header-nav-list {
  display: flex;
  gap: 50px;
}

.header-nav-list-link {
  font-size: 18px;
  display: flex;
  align-items: center;
  color: #323232;
  font-family: MR4;
}

.h3-nav {
  font-family: MR4;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  position: relative;
  color: #323232;
}

.search {
  display: flex;
  gap: 40px;
}

.totembo {
  font-family: MB7;
  font-size: 32px;
  text-transform: uppercase;
  color: #323232;
}

.pierre_lainerr {
  width: 526px;
  background: #e1e1e1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 73px 0 47px 0;
  position: relative;
  filter: drop-shadow(6px 6px 15px rgba(132, 132, 132, 0.3));
}

.pierre_lainerr::after {
  content: "50%";
  display: block;
  padding: 11px 39px;
  background: #323232;
  border-radius: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  position: absolute;
  top: 16px;
  left: 22px;
}

.pierre_lainerr_title {
  margin: 20px 0 20px;
  font-family: MB7;
  display: flex;
  align-items: center;
  color: #000000;
}

.pierre_lainerr_text {
  font-family: MR4;
  color: #323232;
  display: flex;
  justify-content: center;
}

.pierre_lainerr_desc {
  margin-left: 43px;
}

.swiss-military {
  width: 526px;
  background: #e1e1e1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 73px 0 47px 0;
  position: relative;
  margin-top: 30px;
  filter: drop-shadow(6px 6px 15px rgba(132, 132, 132, 0.3));
}

.swiss-military::after {
  content: "20%";
  display: block;
  padding: 11px 39px;
  background: #323232;
  border-radius: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  position: absolute;
  top: 16px;
  left: 22px;
}

.swiss-military_title {
  margin: 20px 0 20px;
  font-family: MB7;
  display: flex;
  align-items: center;
  color: #000000;
}

.swiss-military_text {
  font-family: MR4;
  color: #323232;
  display: flex;
  justify-content: center;
}

.swiss-military_desc {
  margin-left: 43px;
}

.all__wathes-1 {
  display: flex;
  gap: 24px;
  margin-top: 30px;
}

.diadema-grand {
  width: 746px;
  background: #e1e1e1;
  border-radius: 10px;
  filter: drop-shadow(6px 6px 15px rgba(132, 132, 132, 0.3));
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 188px 110px;
}

.diadema-grand-desk {
  margin-left: 24px;
}

.diadema-grand_title {
  margin: 20px 0 20px;
  font-family: MB7;
  display: flex;
  align-items: center;
  color: #000000;
}

.diadema-grand_text {
  font-family: MR4;
  color: #323232;
  display: flex;
  justify-content: center;
}

.diadema-grand::after {
  content: "50%";
  display: block;
  padding: 11px 39px;
  background: #323232;
  border-radius: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  position: absolute;
  top: 16px;
  left: 22px;
}

.seles-leader-title {
  font-family: MR4;
  font-size: 30px;
  text-align: center;
  margin-top: 60px;
  color: #000000;
}
.bottom {
  display: flex;
  justify-content: center;
  background: #323232;
  border-radius: 0.5px;
  border-bottom: 2px solid #323232;
  margin-top: 20px;
  margin-bottom: 40px;
}
.first-p {
  font-family: MR4;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #323232;
}
.first-h4 {
  font-family: MB7;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: #000000;
}
.first {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 416px;
  width: 100%;
}
.first {
  font-family: MR4;
  color: #323232;
  display: flex;
  justify-content: center;
  position: relative;
  background: #e1e1e1;
  border-radius: 10px;
  max-width: 416px;
  width: 100%;
  padding: 72px 107px 20px 109px;
}
.first::after {
  content: "NEW";
  display: block;
  padding: 13px 34px;
  background: #323232;
  border-radius: 10px;
  font-family: "NEW";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  position: absolute;
  top: 16px;
  left: 22px;
}
.first:nth-child(2):after {
  content: "15%";
}
.first:nth-child(3):after {
  content: "30%";
}
.kor-f {
  position: absolute;
  top: 22px;
  right: 19px;
}
.kor-fr {
  position: absolute;
  top: 86px;
  right: 16px;
}
.sweden-wathces-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.first-h3 {
  font-family: MB7;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  max-width: 207px;
  width: 100%;
  color: #000000;
}
.first-h5 {
  font-family: MB7;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  width: 311px;
  color: #000000;
}
.first:nth-child(4):after {
  content: "10%";
}
.first:nth-child(5):after {
  content: "";
  background: transparent;
}
.first:nth-child(6):after {
  content: "";
  background: transparent;
}
.first:nth-child(7):after {
  content: "50%";
}
.first:nth-child(8):after {
  content: "20%";
}
.first:nth-child(9):after {
  content: "30%";
}
.first:nth-child(11):after {
  content: "10%";
}
.first:nth-child(10):after {
  content: "";
  background: transparent;
}
.first-h8 {
  font-family: MR4;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  width: 311px;
  color: #000000;
}
.first-h11 {
  font-family: MR4;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  width: 215px;
  color: #000000;
}
.news {
  font-family: MR4;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  margin-top: 60px;
  text-align: center;

  color: #323232;
}
.the-last-news {
  border-radius: 0.5px;
  border-bottom: 2px solid #323232;
}
.last-news {
  margin-bottom: 30px;
  font-family: MR4;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  margin-top: 60px;
  text-align: center;
  letter-spacing: 2.2px;
  text-transform: uppercase;

  color: #000000;
}
.first-watc {
  max-width: 636px;
  width: 100%;
  background: url(../img/Rectangle\ 89.png)no-repeat;
}
.first-watc:nth-child(2) {
  background: url(../img/Rectangle\ 90.png)no-repeat;
}

.h4-a {
  font-family: MB7;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  display: flex;
  align-items: center;
  font-variant: small-caps;
  max-width: 466px;
  width: 100%;
  color: #ffffff;
}
.p-a {
  font-family: MR4;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  left: 60px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  font-variant: small-caps;

  color: #e1e1e1;
}
.first- {
  flex-direction: column;
}
.first-watc {
  padding: 110px 110px 60px 64px;
  position: relative;
}
.advice-all {
  margin-top: 40px;
  display: flex;
  gap: 24px;
}

.first-watc::before {
  content: "Советы";
  font-family: MR4;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  position: absolute;
  left: 20px;
  top: 20px;
  background: #ffffff;
  border-radius: 8px;
  padding: 13px 29px 13px 30px;
  color: #323232;
}
.footer{
   margin-top: 60px;
}
.site {
  font-family: MR4;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: #ffffff;
}
.site::before {
  content: url(../img/Frame.png);
  margin-right: 10px;
}
.footer {
  background: #323232;
 
}

.h2-content {
  font-family: MB7;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 23px;
margin-bottom: 40px;
  text-transform: uppercase;
margin-top: 100px;
  color: #ffffff;
}
.h5{
   font-family:MR4 ;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;

display: flex;
align-items: center;
text-transform: capitalize;

color: #FFFFFF;
}
.list-totem{
   display: flex;
   flex-direction: column;
   gap: 16px;
}
.tootemo{
   margin-top: 100px;
}
.h5-end{
   font-family: MR4;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
margin-bottom: 131px;

display: flex;
align-items: center;
text-transform: capitalize;

color: #FFFFFF;

}

.footer-content{
   display: flex;
   gap: 160px;
  
}
.h2-con{
   font-family: MR4;
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 27px;
display: flex;
align-items: center;
letter-spacing: 2.2px;
text-transform: uppercase;
margin-top: 100px;
margin-bottom: 40px;
color: #FFFFFF;
}
.end-li-fr{
  font-family:MR4;
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 27px;
display: flex;
align-items: center;
letter-spacing: 2.2px;
text-transform: uppercase;
margin-top: 102px;
color: #FFFFFF;
 margin-bottom: 40px;
}
.end-li{
   font-family: MR4;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
display: flex;

align-items: center;
font-variant: small-caps;

color: #FFFFFF;

}
.list-end{
   display: flex;
   flex-direction: column;
   gap: 15px;
}
.end-h{
   font-family: MR4;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
letter-spacing: 2.5px;
font-variant: small-caps;
margin-top: 60px;
margin-bottom: 40px;
color: #FFFFFF;
}
.end-img{
   display: flex;
   gap: 26px;
}